.new-donation-page {
    min-height: calc(100vh - 400px);
    /* Adjust height to account for 200px + 200px margins */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    font-family: 'Inter', sans-serif;
    margin-top: 200px;
    margin-bottom: 200px;
}

.donation-container {
    width: 100%;
    max-width: 1400px;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.donation-content {
    display: flex;
    gap: 40px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1100px) {
    .new-donation-page {
        margin-top: 24px;
        margin-bottom: 40px;
    }

    .donation-container {
        height: auto;
        min-height: auto;
    }

    .donation-content {
        flex-direction: column;
        gap: 60px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 768px) {
    .new-donation-page {
        padding: 10px;
        margin-top: 16px;
        margin-bottom: 24px;
    }

    .donation-container {
        padding: 10px;
    }

    .donation-content {
        gap: 40px;
    }
}