.driver-summary-container {
    flex: 1.5;
    /* Takes up more space */
    min-width: 350px;
    display: flex;
    flex-direction: column;
}

.driver-card-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-right-mobile {
    text-align: right;
}

/* Adjust responsiveness */
@media (max-width: 768px) {
    .text-right-mobile {
        text-align: left;
    }
}

.driver-info-left,
.driver-info-right {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.info-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.info-row.end {
    justify-content: flex-end;
}

.icon-c {
    width: 32px;
    height: 32px;
    color: #4299e1;
    /* Blueish */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.circle-blue {
    background-color: transparent;
    border: 2px solid #4299e1;
    border-radius: 50%;
}

.label-tiny {
    font-size: 10px;
    color: #0000FF;
    /* Blue color as per image */
    font-weight: 700;
}

.value-small {
    font-size: 12px;
    font-weight: 700;
    color: #1a1a1a;
}

.driver-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
}

.driver-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-right {
    text-align: right;
}