.food {
    padding: 20px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: start;
    gap: 10px;
    align-items: center;
}

.food__s1 h2, .food__s1 p{
    margin-bottom: 10px;
}

.food__s1__sub {
    display: flex;
    justify-content: start;
    gap: 10px;
}