body.admin-mode {
    background: #102216 !important;
}

.dashboard {
    display: flex;
    height: 100vh;
    overflow: hidden;
    background: #102216;
}

@media screen and (max-width: 1300px) {
    .dashboard {
        flex-direction: column;
        height: auto;
        overflow-y: auto;
    }
}