.food {
    padding: 20px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: start;
    gap: 10px;
    align-items: center;
}

.food > img {
    width: 120px;
    height: 120px;
    min-width: 120px;
    min-height: 120px;
    object-fit: cover;
    border-radius: 12px;
}

.food__s1 {
    min-height: 80px;
    flex: 1;
    min-width: 0;
}

.food__s1 h2 {
    margin: 0 0 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.food__s1 p {
    margin: 0 0 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.food__s1__sub p {
    margin: 0;
}

.food__s1__sub {
    display: flex;
    justify-content: start;
    gap: 10px;
}