.transparency__loop__card__section__s1 {
    text-align: center;
}

.transparency__loop__card__section__s1 h1 {
    background: linear-gradient(90deg, #0D1B12 0%, #3E8156 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 45px;
    font-weight: 700;
    margin-top: 30px;
}

.transparency__loop__card__section__s2 {
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}