.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 3;
}

.navbar__s1 {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.5);
}

.navbar__s1 img {
    height: 40px;
    margin-right: 10px;
}

.navbar__s1__sub {
    text-align: center;
}

.navbar__s1__sub__part1 {
    color: #1F4E36;
}

.navbar__s1__sub__part2 {
    color: #73A13F;
}

.navbar__s1__sub p {
    color: #1F4E36;
    font-weight: bold;
    padding-right: 5px;
}

.navbar__s2 {
    display: flex;
    border-radius: 33px;
    gap: 40px;
    background: rgba(255, 255, 255, 0.5);
}

.navbar__s2 a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 18px;
}


.navbar__s3 a {
    text-decoration: none;
}

.navbar__s3 button {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 15px;
    border-radius: 33px;
    border: none;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
}

.navbar__s3 button p {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.navbar__s3 button img {
    padding-right: 10px;
    transition: 0.3s;
}

.navbar__s3 button:hover img {
    transform: translateX(10px);
    transition: 0.3s;
}


.navbar__s1,
.navbar__s2,
.navbar__s3 button {
    height: 60px;
    padding: 15px;
}

.responsive__navbar {
    display: none;
    position: relative;
}

.responsive__navbar__popup {
    z-index: 999;
    position: fixed;
    top: 100px;
    right: 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
}

.responsive__navbar__popup a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.responsive__navbar__popup a button {
    padding: 15px;
    border-radius: 33px;
    width: 50%;
    border: none;
    cursor: pointer;
    background-color: #13EC5B;
    font-weight: bold;
    font-size: 20px;
}

.responsive__navbar__popup p {
    cursor: pointer;
    text-align: right;
    font-size: 28px;
    margin-right: 20px;
    margin-top: 20px;
}

@media screen and (max-width: 1000px) {
    .navbar {
        display: none;
    }

    .responsive__navbar {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 30px;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 30px;
        margin-top: 5px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 5px;
    }

    .responsive__navbar__s1 img {
        width: 50px;
        cursor: pointer;
    }

    .responsive__navbar__s2 {
        text-align: center;
    }

    .responsive__navbar__s2__part1 {
        color: white;
    }

    .responsive__navbar__s2__part2 {
        color: #13EC5B;
        ;
    }

    .responsive__navbar__s2 p {
        color: white;
    }

    .responsive__navbar__s3 img {
        cursor: pointer;
    }
}