.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 3;
}

.navbar__s1 {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.5);
}

.navbar__s1 img {
    height: 40px;
    margin-right: 10px;
}

.navbar__s1__sub {
    text-align: center;
}

.navbar__s1__sub__part1 {
    color: #1F4E36;
}

.navbar__s1__sub__part2 {
    color: #73A13F;
}

.navbar__s1__sub p {
    color: #1F4E36;
    font-weight: bold;
    padding-right: 5px;
}

.navbar__s2 {
    display: flex;
    border-radius: 33px;
    gap: 40px;
    background-color: transparent;
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.5);
}

.navbar__s2 a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 18px;
}

.navbar__s3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.navbar__s3__img1 {
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    padding: 5px;
    cursor: pointer;
}

.navbar__s3__sub {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.40);
    padding: 5px;
    cursor: pointer;
}

.navbar__s3__profile__popup {
    z-index: 999;
    position: fixed;
    top: 100px;
    right: 20px;
    width: 16%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
}

.navbar__s1,
.navbar__s2 {
    height: 60px;
    padding: 15px;
}

.responsive__navbar {
    display: none;
    position: relative;
}

.responsive__navbar__popup {
    z-index: 999;
    position: fixed;
    top: 100px;
    right: 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
}

.responsive__navbar__popup a,
.navbar__s3__profile__popup a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.responsive__navbar__popup a button,
.navbar__s3__profile__popup a button {
    padding: 15px;
    border-radius: 33px;
    width: 100%;
    border: none;
    cursor: pointer;
    background: linear-gradient(180deg, #1F4E36 0%, #48B47D 100%);
    font-weight: bold;
    font-size: 20px;
}

.responsive__navbar__popup p,
.navbar__s3__profile__popup p {
    cursor: pointer;
    text-align: right;
    font-size: 28px;
    margin-right: 20px;
    margin-top: 20px;
}

@media screen and (max-width: 1250px) {
    .navbar {
        display: none;
    }

    .responsive__navbar {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 30px;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 30px;
        margin-top: 5px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 5px;
    }

    .responsive__navbar__s1 img {
        width: 50px;
        cursor: pointer;
    }

    .responsive__navbar__s2 {
        text-align: center;
    }

    .responsive__navbar__s2__part1 {
        color: white;
    }

    .responsive__navbar__s2__part2 {
        color: #13EC5B;
    }

    .responsive__navbar__s2 p {
        color: white;
    }

    .responsive__navbar__s3 img {
        cursor: pointer;
        width: 30px;
        height: 30px;
    }

    .responsive__navbar__s3 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
}