.feedback {
    text-align: center;
    margin-bottom: 80px;
}

.feedback h1 {
    margin-bottom: 20px;
}

.feedback textarea {
    width: 80%;
    height: 150px;
    border-radius: 20px;
    background: #C1C1C1;
    padding: 20px;
    position: relative;
    margin-bottom: 10px;
    resize: none;
    font-size: 15px;
}

.feedback textarea:focus{
    outline: none;
}

.feedback button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background: #A0C4AE;
    padding: 5px;
    border: none;
    gap: 20px;
    position: absolute;
    right:10%;
    cursor: pointer;
    margin-bottom: 20px;
}