.function__section {
    margin: 30px;
    text-align: center;
    margin-bottom: 40px;
}

.function__section>p {
    margin-bottom: 20px;
}

.function__section__s1 {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}