.edit__profile {
    margin: 30px;
}

.edit__profile__s1 {
    display: flex;
    gap: 50px;
}

.edit__profile h1 {
    background: linear-gradient(90deg, #FFF 0%, #13EC5B 15.69%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.edit__profile p {
    color: white;
    margin-bottom: 30px;
}

.edit__profile__s1__sub1__sub {
    position: relative;
}

.profile {
    background-color: white;
    padding: 10px;
    border-radius: 70px;
}

.change {
    border-radius: 50px;
    border: 1px solid #FFF;
    background: #13EC13;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.00);
    position: absolute;
    bottom: 10px;
    left: 90px;
    padding: 5px;
    cursor: pointer;
}

.edit__profile__s1__sub1 button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: none;
    gap: 10px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.37);
    cursor: pointer;
}

.edit__profile__s1__sub1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 50%;
}

.edit__profile__s1__sub1 {
    border-radius: 20px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.4);
}

.edit__profile__s1__sub1 h5 {
    border-radius: 10px;
    background: rgba(19, 236, 91, 0.51);
    padding: 10px;
}

.edit__profile__s1__sub2 {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    padding: 20px;
    width: 100%;
}

.edit__profile__s1__sub2__sub1 {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.edit__profile__s1__sub2__sub1 h2 {
    color: white;
}

.edit__profile__s1__sub2__sub2 {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.edit__profile__s1__sub2__sub2__sub input {
    width: 150%;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.edit__profile__s1__sub2 input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
}

#contact,
#address {
    margin-top: 10px;
}

#name,
#email {
    width: 100%;
}

#name:focus,
#email:focus, 
#contact:focus,
#address:focus {
    outline: none;
}

.cancel {
    width: 15%;
    padding: 10px;
    border-radius: 15px;
    background: #FFF;
    border: none;
    margin-right: 20px;
    cursor: pointer;
}

.save {
    width: 15%;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(90deg, #1F4E36 0%, #48B47D 100%);
    border: none;
    color: white;
    cursor: pointer;
}

@media screen and (max-width:800px){
    .edit__profile__s1{
        display: block;
    }

    .edit__profile__s1__sub1{
        width: 100%;
        margin-bottom: 30px;
    }
}