.sidebar {
    width: 22%;
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.3);
    height: 90vh;
    margin: 30px;
    border-radius: 30px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: relative;
    overflow-y: auto;
    /* Enable sidebar scrolling */
}

.sidebar img {
    width: 100px;

}

.sidebar__s1__sub1 {
    color: #13EC5B;
}

.sidebar__s1__sub2 {
    color: #029834;
}

.sidebar p {
    color: #13EC5B;
}

.sidebar__s2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
}

.sidebar__links {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.sidebar__links img {
    width: 30px;
}

.sidebar__links a {
    text-decoration: none;
    color: #92C9B7;
    font-size: 20px;
}

.sidebar button {
    position: absolute;
    bottom: 10px;
    width: 90%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bolder;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.75);
}

.responsive__side__navbar {
    display: none;
}

.responsive__side__navbar__s1 p {
    color: #13EC5B;
}

.responsive__side__navbar__logo {
    width: 80px;
    margin-bottom: 10px;
}

.responsive__side__navbar__s1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width:1300px) {

    .sidebar {
        display: none !important;
        border: none !important;
        margin: 0 !important;
        padding: 0 !important;
        width: 0 !important;
        height: 0 !important;
    }

    .responsive__side__navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: none !important;
        background: transparent !important;
        box-shadow: none !important;
        margin: 20px;
        padding: 10px;
        border-radius: 30px;
        border: 1px solid white !important;
        padding: 10px;
    }

    .responsive__side__navbar__s1 {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .responsive__side__navbar__logo {
        width: 50px;
        margin-bottom: 0;
    }

    .responsive__title h1 {
        margin: 0;
        font-size: 24px;
    }

    .menu-icon {
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .responsive__navbar__popup {
        z-index: 999;
        position: fixed;
        top: 100px;
        right: 0;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.95);
        box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
        padding-bottom: 20px;
    }

    .responsive__navbar__popup a {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 15px;
        font-size: 18px;
        font-weight: bold;
        color: black;
        text-decoration: none;
    }

    .responsive__navbar__popup button {
        padding: 15px;
        border-radius: 33px;
        width: 80%;
        border: none;
        cursor: pointer;
        background: linear-gradient(180deg, #1F4E36 0%, #48B47D 100%);
        font-weight: bold;
        font-size: 18px;
        color: white;
    }

    .responsive__navbar__popup p {
        cursor: pointer;
        text-align: right;
        font-size: 28px;
        margin-right: 20px;
        margin-top: 10px;
        color: black;
    }
}