.sidebar {
    width: 22%;
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.3);
    height: 90vh;
    margin: 30px;
    border-radius: 30px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: relative;
}

.sidebar img {
    width: 100px;
    margin-bottom: 10px;
}

.sidebar__s1__sub1 {
    color: #13EC5B;
}

.sidebar__s1__sub2 {
    color: #029834;
}

.sidebar p {
    color: #13EC5B;
}

.sidebar__s2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
}

.sidebar__links {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.sidebar__links img {
    width: 30px;
}

.sidebar__links a {
    text-decoration: none;
    color: #92C9B7;
    font-size: 20px;
}

.sidebar button {
    position: absolute;
    bottom: 10px;
    width: 90%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bolder;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.75);
}