.vision {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 115px;
}

.vision__s1 {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: -7px 0 4px 0 rgba(0, 0, 0, 0.25);
}

.vision__s1__sub1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vision__s1__sub1 img {
    padding: 20px;
    border-radius: 16px;
    background: rgba(19, 236, 91, 0.20);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.00);
}

.vision__s1__sub1 h1 {
    font-size: 40px;
    color: #1F4E36;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.vision__s1__sub2 h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.vision__s1__sub2 p {
    line-height: 29.25px;
}

.foodloop__matters {
    border-radius: 20px;
    color: white;
    background: radial-gradient(90.43% 85.67% at 81.39% 20.28%, #1F4E36 0%, #48B47D 100%);
    box-shadow: 0 8px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 20px;
    padding-bottom: 40px;
}

.foodloop__matters img {
    border-radius: 10px;
    padding: 20px;
    background: #1F4E36;
}

.foodloop__matters h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.foodloop__matters p {
    line-height: 29.25px;
}

@media screen and (max-width: 768px) {
    .vision {
        margin-bottom: 20px;
        display: block;
        width: 100%;
    }

    .vision__s1 {
        width: 100%;
        margin-bottom: 20px;
    }
}