.transit__delivery__card__s1 {
    background-color: white;
    padding: 20px;
}

.transit__delivery__card__s1__sub1 {
    display: flex;
    gap: 10px;
    border-radius: 50px;
    padding: 10px;
    background: #DBEAFE;
    width: fit-content;
}

.transit__delivery__card__s1__sub1 img {
    width: 10px;
    height: auto;
}

.transit__delivery__card__s1__sub2 img {
    width: 30px;
    height: auto;
}

.transit__delivery__card__s1__sub4__sub img {
    width: 20px;
    height: auto;
}


.transit__delivery__card__s1 {
    width: 100%;
    border-radius: 30px;
}

.transit__delivery__card__s1__sub {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 100px;
    margin-bottom: 20px;
}

.transit__delivery__card__s1__sub2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.transit__delivery__card__s1__sub3 {
    display: flex;
    align-items: center;
    gap: 120px;
    margin-bottom: 20px;
}

.transit__delivery__card__s1__sub3 p {
    color: #4C9A66;
    padding: 10px;
    border-radius: 50px;
    background: #F0F9F2;
}

.transit__delivery__card__s1__sub4__sub {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.transit__delivery__card__s1__sub4__sub p {
    font-weight: bold;
}

@media screen and (max-width: 1000px) {
    .transit__delivery__card__s1 {
        width: 100%;
        margin-bottom: 20px;
    }

    .transit__delivery__card__s1__sub,
    .transit__delivery__card__s1__sub3 {
        gap: 20px;
        justify-content: space-between;
    }
}