.myclaims-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  gap: 20px;
}

.intransit {
  background-image:
    linear-gradient(to left,
      rgba(14, 73, 34, 0.35),
      rgba(11, 60, 27, 0.715)),
    url("/src/assets/07-live-delivery.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  padding: 20px 30px 20px 30px;
  height: 265px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.looking,
.complited {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 20px 30px 20px 30px;
  height: 265px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.active-donations,
.active-donations *,
.top,
.top *,
.fed,
.fed * {
  box-sizing: border-box;
}

.active-donations {
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 21.6px;
  color: #13ec5b;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
}

.looking .active-donations {
  color: #ffffff;
}

.donation-cards {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}